<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oneal Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]!</h1>
    
    <p th:text="'You are at the Admin Home Page'" />
    
    <p><a th:href="@{/artist}">Edit Artists</a></p>
    
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>    
    
</body>
</html>